@font-face {
  font-family: "Monument Extended Regular";
  src: url("../fonts/MonumentExtended-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended Ultrabold";
  src: url("../fonts/MonumentExtended-Ultrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
